.tab-item-container {
  padding-right: 4px;
}

.tab-btn {
  padding: 8px;

  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.active-tab-btn {
  border-bottom: 3px solid #fec653;
  color: #fec653;
}
